<?xml version="1.0"?>
<model>
  <name>gamantaray_gripper_ricketts_right_jaw_visual</name>
  <version>0.1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Ammar</name>
    <email>ammar@example.com</email>
  </author>
  <description>Right animated gripper jaw using the Ricketts claw mesh.</description>
</model>
