<?xml version="1.0"?>
<model>
  <name>gamantaray_rov_beaumont_gripper</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Gamantaray ROV</name>
  </author>
  <description>Beaumont-style ROV variant with an integrated gripper mounting layout.</description>
</model>
