<?xml version="1.0"?>
<model>
  <name>gamantaray_blue_t200_prop_cw_visual</name>
  <version>0.1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Ammar</name>
    <email>ammar@example.com</email>
  </author>
  <description>T200 clockwise propeller visual copied from evan-palmer/blue.</description>
</model>
