<?xml version="1.0"?>
<model>
  <name>gamantaray_rov_hydro</name>
  <version>0.1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Ammar</name>
    <email>ammar@example.com</email>
  </author>
  <description>Dynamic BlueROV2-style ROV with Gazebo buoyancy, hydrodynamics, and thruster plugins.</description>
</model>
